# LABS-3: Systems Project

In this notebook you will run a few cells to ensure that your environment is properly set up.

In [2]:
## First cell
# run this for step 11 in your instructions

print("Hello, World!")

Hello, World!

In [3]:
## Second cell
# run this for step 14 in your instructions

import pandas as pd

In [4]:
## Part 3: Accessing your data
# edit this code to load your data into your workspace

data = pd.read_csv("imdb_movies.csv") #add your data file path to this line!
data.head(2)

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU